*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Compiled output
lib/
dist/

# Coverage
coverage/
.nyc_output

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
